
    /* dark-mode.css */
    /* General body styles */
    body
{
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

/* Links */
a {
    color: #bb86fc;
}

    a:hover {
        color: #ffffff;
    }

/* Header */
header {
    background-color: #121212;
    color: #ffffff;
    padding: 10px;
}

/* Navigation bar */
nav {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

    nav a {
        color: #bb86fc; /* Light purple color for links */
    }

        nav a:hover {
            color: #ffffff; /* White color for links on hover */
        }

/* Main content */
main {
    padding: 20px;
}

/* Buttons */
button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #444444;
        border-color: #555555;
    }

/* Forms */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 5px;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #bb86fc;
    }

/* Validation messages */
.text-danger {
    color: #ff3333;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

